* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header_section {

    display: flex;

    padding-top: 35px;

    align-items: center;
}

.logo_part {

    width: 50%;
}

.logo_part img {

    padding-left: 100px;
}

.link_part {
    width: 50%;
}

.link_part ul {

    list-style: none;

    display: flex;
}

.link_part ul li {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 400;

    font-size: 15px;

    line-height: 26px;

    color: #5E607A;

    padding-left: 45px;

    padding-right: 20px;
}

.link_part ul li:hover {
    color: #F15D51;
}

.banner_section {

    display: flex;

    justify-content: space-evenly;

    padding-top: 40px;
}

.image_section {

width: 55%;

padding-left: 40px;
}

.image_section img {

/* width: 90%; */
}

.image_section_pic {}

.image_section_content {

    display: flex;

    padding-top: 20px;
}

.left_side_content {

    width: 50%;
}

.left_side_content h2 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 800;

    font-size: 56px;

    line-height: 56px;

    color: #00001A;
}



.right_side_content {

width: 45%;
}

.right_side_content p {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 400;

    font-size: 15px;

    line-height: 26px;

    color: #5E607A;

    padding-bottom: 38px;
}

.right_side_content a {}

.btn_read {

    color: #fff;

    font-size: 14px;

    text-transform: uppercase;

    padding: 0;

    padding: 10px 25px;

    background: #F15D51;

    border: 1px solid #F15D51;

    font-weight: bold;

    text-decoration: none;

    border-radius: 2px;

    font-family: 'Inter';

    font-style: normal;

    font-weight: 700;

    font-size: 14px;

    line-height: 24px;

    letter-spacing: 4.375px;

    color: #FFFDFA;
}

.btn_read:hover {
    background: #00001A;
    border: 1px solid #00001A;
    transition: .5s all ease-in-out;
}


.banner_section_right_part {

width: 24%;

padding-right: 43px;
}

.new_section {

    background: #00001A;

    color: white;
}

.new_section .main_content {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 20px;
}

.new_section .first_part {

    padding-bottom: 25px;
}

.new_section .first_part .new_section_heading {}

.new_section .first_part .new_section_heading h2 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 700;

    font-size: 40px;

    line-height: 40px;

    color: #E9AA52;

    padding-bottom: 25px;

    padding-top: 10px;
}

.new_section .first_part h3 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 800;

    font-size: 20px;

    line-height: 24px;

    color: #FFFDFA;

    padding-bottom: 5px;
}

.new_section .first_part h3:hover{
    
color: #e9aa52;
    
cursor: pointer;
    
transition: .3s all ease-in-out;
}

.new_section .first_part p {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 400;

    font-size: 15px;

    line-height: 26px;

    color: #C5C6CE;

    padding-bottom: 25px;
}

.new_section .first_part span {

    display: block;

    height: 1px;

    width: 100%;

    background: #5E607A;
}

.new_section .second_part {

    padding-bottom: 20px;
}

.new_section .second_part h3 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 800;

    font-size: 20px;

    line-height: 24px;

    color: #FFFDFA;
}

.new_section .second_part h3:hover {
    color: #e9aa52;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.new_section .second_part p {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 400;

    font-size: 15px;

    line-height: 26px;

    color: #C5C6CE;

    padding-bottom: 25px;
}

.new_section .second_part span {

    display: block;

    height: 1px;

    width: 100%;

    background: #5E607A;
}

.new_section .third_part {

    /* padding-bottom: 50px; */
}

.new_section .third_part h3 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 800;

    font-size: 20px;

    line-height: 24px;

    color: #FFFDFA;
}

.new_section .third_part h3:hover {
    color: #e9aa52;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.new_section .third_part p {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 400;

    font-size: 15px;

    line-height: 26px;

    color: #C5C6CE;

    padding-bottom: 25px;
}







.review_section {

    padding-top: 75px;

    padding-bottom: 50px;

    padding-left: 75px;

    padding-right: 75px;

    display: flex;

    justify-content: space-evenly;
}

.single_review {

    display: flex;

    width: 30%;
}

.single_review .image_part {}


.single_review .image_part img {}


.single_review .text_part {

    padding-left: 20px;
}

.single_review .text_part h3 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 700;

    font-size: 32px;

    line-height: 32px;

    color: #C5C6CE;
}

.single_review .text_part h4 {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 800;

    font-size: 18px;

    line-height: 24px;

    color: #00001A;

    padding-top: 10px;

    cursor: pointer;
}

.single_review .text_part h4:hover {
    color: #F15D51;
    transition: .3s all ease-in-out;
}

.single_review .text_part p {

    font-family: 'Inter';

    font-style: normal;

    font-weight: 400;

    font-size: 15px;

    line-height: 26px;

    color: #5E607A;

    padding-top: 10px;
}



/* general media control */
@media only screen and (max-width: 992px) {

    .banner_section {
        display: inline;
    }

    .image_section {
        /* padding: inherit; */
        width: 93%;
        padding-left: 20px;
        /* padding-right: 20px; */
    }

    .image_section_content {
        display: inline;
    }

    .left_side_content {

        width: 100%;

    }

    .right_side_content {

        width: 100%;

    }

    .banner_section_right_part {

width: 90%;

padding-top: 50px;

padding-right: 0px;

padding-left: 20px;
}

    .new_section {
}

    .main_content {}

    .pic_size{
        
height: 300px;
    }

    .left_side_content h2{
        
font-size: 41px;
    }


    .review_section {

display: inherit;

padding: 0;

width: 90%;

padding-left: 20px;

padding-top: 85px;

}

    .single_review {

width: 100%;

padding-bottom: 10px;

/* padding-left: 15px; */

/* padding-right: 15px; */

}

    .single_review .text_part{
        
padding-right: 0px;
    }

    .image_section_pic img{
        
width: 96%;
        
/* height: 56%; */
    }

}














.nav {
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 70px;
    z-index: 99;
    padding-top: 30px;
}


.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #111;
    /* padding: 10px 10px 10px 10px; */
    padding-left: 60px;
    cursor: pointer;
}

.navbar-brand-img {
    width: auto;
    /* Adjust to fit your logo */
    margin: -0.2rem auto auto 2.5rem;
    background-repeat: no-repeat;
}

/*-- Nav Items --*/
.nav>.nav-items {
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-right: 2.5rem;
}

.nav>.nav-items>a,
.nav>.nav-items>label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #5E607A;
    padding-right: 65px;
    list-style: none;
    text-decoration: none;
}

.nav>.nav-items>a:hover,
.nav-items>label:hover {
    color: #F15D51;
    transition: .3s all ease-in-out;
}

/*-- /Nav Items --*/

/*-- Nav dropdown --*/
input#nav-dropdown {
    display: none;
}

input#nav-dropdown~label {
    position: relative;
    font-weight: bold;
    /* Signify it is a dropdown */
}

input#nav-dropdown~ul {
    position: absolute;
    top: 50px;
    /* Trial and error */
    right: 50px;
    /* Hard coded. Can be calc.ed with JS or done separately for each ul element. */
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    border: 1px solid #ddd;
}

input#nav-dropdown~ul>li {
    display: block;
    list-style-type: none;
    background-color: #fff;
    padding: 0.5rem;
    text-align: center;
}

input#nav-dropdown~ul>li>a {
    color: #111;
    text-decoration: none;
}

input#nav-dropdown~ul>li:hover {
    background-color: #f2f2f2;
    border-radius: 0.3rem;
}

input#nav-dropdown:not(:checked)~ul {
    display: none;
}

input#nav-dropdown:checked~ul {
    display: block;
}

/*-- /Nav dropdown --*/

/*-- Responsive --*/
.nav>.nav-btn {
    display: none;
}

.nav>#nav-check {
    display: none;
}

/*-- /Responsive --*/

/*----- Media Query for mobile and tablet devices -----*/
@media only screen and (max-width: 992px) {
    /* Width covers entire screen */

    /* /Width Covers Entire Screen */
    /* Navbar Brand */
    .navbar-brand-img {
        margin: -11.2rem auto auto -3.2rem;
        background-repeat: no-repeat;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    /* /Navbar Brand */
    /* Navbar Toggle */
    .nav>.nav-btn {
        height: 70px;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 100%;
        height: auto;
        font-size: 2rem;
        color: #111;
        margin-bottom: 0;
    }

    .nav>.nav-btn>label>span {
        display: block;
        border-top: 3px solid #00001A;
        height: 10px;
        width: 40px;
        transition: all 0.1s ease-in;
    }

    /* /Navbar Toggle */
    /* Navbar Items */
    .nav>.nav-items {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        text-align: left;
        transition: all 0.3s ease-in;
        top: 70px;
        /* navbar height */
        left: 70px;
        z-index: 999 !important;
    }

    .nav>.nav-items>a,
    .nav>.nav-items>label {
        display: block;
        width: 100%;
    }

    /* /Navbar Items */
    /* Toggle State */
    .nav>#nav-check:not(:checked)~.nav-items {
        height: 0px;
    }

    .nav>#nav-check:not(:checked)~.nav-items a,
    .nav>#nav-check:not(:checked)~.nav-items label {
        display: none;
    }

    .nav>#nav-check:checked~.nav-btn>label>span:first-child {
        transform: translateX(-3.5px) translateY(6px) rotate(45deg);
    }

    .nav>#nav-check:checked~.nav-btn>label>span:nth-child(2) {
        display: none;
    }

    .nav>#nav-check:checked~.nav-btn>label>span:last-child {
        transform: translateX(3px) translateY(-6px) rotate(-45deg);
    }

    .nav>#nav-check:checked~.nav-items {
        height: calc(100vh - 70px);
        overflow-y: auto;
        z-index: 999 !important;
        padding-top: 50px;
        padding-left: 20px;
    }

    .nav>#nav-check:checked~.nav-items a,
    .nav>#nav-check:checked~.nav-items label {
        display: block;
        margin-bottom: 30px;
    }

    /* /Toggle State */
    /* Dropdown */
    input#nav-dropdown~ul {
        position: static;
        margin: auto;
        padding: 0.5rem 1.5rem;
        background-color: black;
        border: 1px solid #ddd;
    }

    /* /Dropdown */
}